<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-danger">
          <h3 class="card-title">History</h3>
          <h4 class="card-category">List of stories</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <div *ngIf="lstHistories.length > 0">
              <table class="table table-hover">
                <thead class="">
                  <th>ID</th>
                  <th>Category</th>
                  <th>Title</th>
                  <th>Content</th>
                  <th>Url</th>
                  <th>State</th>
                  <th>Answer</th>
                </thead>
                <tbody>
                  <tr *ngFor="let item of lstHistories">
                    <td>{{ item.idHistory }}</td>
                    <td>{{ item.idCategory2.title }}</td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.content }}</td>
                    <td>{{ item.url }}</td>
                    <td>
                      <div
                        *ngIf="item.state"
                        [matBadge]="item.questions.length"
                      >
                        <mat-icon>done</mat-icon>
                      </div>
                      <div
                        *ngIf="!item.state"
                        [matBadge]="item.questions.length"
                      >
                        <mat-icon>close</mat-icon>
                      </div>
                    </td>
                    <td>
                      <button
                        mat-icon-button
                        aria-label="Example icon button with a vertical three dot icon"
                        (click)="goToQuestion(item)"
                      >
                        <mat-icon>live_help</mat-icon>
                      </button>
                      |
                      <button
                        mat-icon-button
                        aria-label="Example icon button with a vertical three dot icon"
                        (click)="historyRegister(item)"
                      >
                        <mat-icon>edit</mat-icon>
                      </button>
                      |
                      <button
                        mat-icon-button
                        aria-label="Example icon button with a vertical three dot icon"
                        (click)="deleteHistory(item)"
                      >
                        <mat-icon>delete</mat-icon>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div *ngIf="lstHistories.length === 0">
              <h3>No data</h3>
            </div>
            <button
              mat-stroked-button
              color="primary"
              (click)="historyRegister()"
            >
              Register History
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
