<ion-content class="ion-padding">
  <div class="alineado-izquierda">
    <ion-button fill="outline">New User?</ion-button>
  </div>

  <br />

  <img src="../../assets/img/icon.png" style="width: 40%" />
  <h2>Welcome to Quizer</h2>
  <div class="relleno"></div>
  <div class="espaciado">a</div>
  <ion-item>
    <ion-label position="stacked">Email Address</ion-label>
    <ion-input placeholder="example@example.com"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Password</ion-label>
    <ion-input type="password" placeholder="Password"></ion-input>
  </ion-item>
  <div class="espaciado">a</div>
  <ion-button shape="round" expand="full">Sign in</ion-button>
</ion-content>
