.alineado-izquierda {
  float: right;
}
.alineado-derecha {
  float: left;
}
img{
  margin-top: 15%;
  width: 30%;

  margin-bottom: 5%;
}
.relleno{
  background-color: #3ff7cf;
  padding: 4px;
  border-radius: 10px;
  width: 30%;
}

.espaciado{
  margin: 5%;
  color: white;
}
