<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides pager="true">

    <ion-slide>
      <div class="slide">
        <img src="../../assets/img/consulta.svg"/>
        <h2>Welcome</h2>
        <p><b>Jump in help</b> is a platform that will help you become an expert cyber security operator.</p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/img/conversation.svg"/>
      <h2>What will I do?</h2>
      <p>You will <b>learn</b> to deal with all possible situations that could affect our clients.</p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/img/customer.svg"/>
      <h2>What I will be?</h2>
      <p>You will be part of the change and help millions of vulnerable people worldwide, you just have to <b>register</b> to be part of our team.</p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/img/messages.svg"/>
      <h2>Are you ready to <b>join?</b></h2>
      <ion-button fill="clear" (click)="irLogin()">I'm ready<ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>
