<ion-header translucent="true" class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">

      <ion-button class="redondo" id="changeText" (click)="salirSesion()">
        <ion-icon slot="start" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Home</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <img src="../../assets/img/banner.jpg" />

  <ion-button [color]="colorBoton" expand="full" (click)="validarEstadoOperator()">{{textoBoton}}</ion-button>
  <div *ngIf="lstUserOperator.length>0">
    <ion-card *ngFor="let item of lstUserOperator">
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../assets/img/web_icon.png">
        </ion-avatar>
        <ion-label>
          <h2>{{item.qualification}}/10</h2>
          <p>{{item.comments}}</p>
        </ion-label>
        <ion-button fill="outline" slot="end">View</ion-button>
      </ion-item>
    </ion-card>
  </div>
  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="actualizar()">
      <ion-icon name="refresh"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
